@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --default-font-family: 'DM Sans', 'DM Sans Placeholder', sans-serif;

  /* Primary */
  --color-primary: #101010;
  --color-primary-light: #101010;
  --color-primary-foreground: #fff;

  /* Secondary */
  --color-secondary: #fe3d63;

  /* Button */
  --color-button-text: #fff;
  --color-button-color: #fe3d63;
  --color-button-hover: #bfbfbf;
  --color-button-icon: #fff;

  /* Background */
  --color-background: #171717;
  --color-background-foreground: #000000;
  --color-background-light: #f5f5f5;
  --color-background-dark: #d9d9d9;
  --color-background-our-project: #000000;
  --color-background-adverting: #000;
  --color-background-footer: #d9d9d9;
  --color-background-card-popular: #23262b;
  --color-background-rating-start: #ffba23;
  --color-background-btn-reason: #0f0202b2;
  --color-background-select-reason: #fff;

  /* Border */
  --color-card-popular-border: #ffffff33;

  /* Text */
  --color-text: #595959;
  --color-text-dark: #101010;
  --color-text-light: #bfbfbf;
  --color-text-adverting: #fff;
  --color-text-banner: #fff;
  --color-text-select: #171717;

  /* Spacing */
  --spacing: 0.25rem;

  /* Font weight */
  --font-thin: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Border radius */
  --radius-full: 100px;
  --radius-small: 8px;
  --radius-extrasmall: 4px;

  /* Headline */
  --font-headline-extralarge-thin-size: 72px;
  --font-headline-extralarge-thin-weight: 400;
  --font-headline-extralarge-thin-line-height: 86px;
  --font-headline-extralarge-thin-letter-spacing: -3px;

  --font-headline-extralarge-medium-size: 72px;
  --font-headline-extralarge-medium-weight: 500;
  --font-headline-extralarge-medium-line-height: 86px;
  --font-headline-extralarge-medium-letter-spacing: -3px;

  --font-headline-extralarge-semibold-size: 72px;
  --font-headline-extralarge-semibold-weight: 600;
  --font-headline-extralarge-semibold-line-height: 86px;
  --font-headline-extralarge-semibold-letter-spacing: -3px;

  --font-headline-extralarge-bold-size: 72px;
  --font-headline-extralarge-bold-weight: 700;
  --font-headline-extralarge-bold-line-height: 86px;
  --font-headline-extralarge-bold-letter-spacing: -3px;

  --font-headline-extralarge-extrabold-size: 72px;
  --font-headline-extralarge-extrabold-weight: 800;
  --font-headline-extralarge-extrabold-line-height: 86px;
  --font-headline-extralarge-extrabold-letter-spacing: -3px;

  --font-headline-extralarge-black-size: 72px;
  --font-headline-extralarge-black-weight: 900;
  --font-headline-extralarge-black-line-height: 86px;
  --font-headline-extralarge-black-letter-spacing: -3px;

  --font-headline-large-thin-size: 42px;
  --font-headline-large-thin-weight: 400;
  --font-headline-large-thin-line-height: 50px;
  --font-headline-large-thin-letter-spacing: 0px;

  --font-headline-large-medium-size: 42px;
  --font-headline-large-medium-weight: 500;
  --font-headline-large-medium-line-height: 50px;
  --font-headline-large-medium-letter-spacing: 0px;

  --font-headline-large-semibold-size: 42px;
  --font-headline-large-semibold-weight: 600;
  --font-headline-large-semibold-line-height: 50px;
  --font-headline-large-semibold-letter-spacing: 0px;

  --font-headline-large-bold-size: 42px;
  --font-headline-large-bold-weight: 700;
  --font-headline-large-bold-line-height: 50px;
  --font-headline-large-bold-letter-spacing: 0px;

  --font-headline-large-extrabold-size: 42px;
  --font-headline-large-extrabold-weight: 800;
  --font-headline-large-extrabold-line-height: 50px;
  --font-headline-large-extrabold-letter-spacing: 0px;

  --font-headline-large-black-size: 42px;
  --font-headline-large-black-weight: 900;
  --font-headline-large-black-line-height: 50px;
  --font-headline-large-black-letter-spacing: 0px;

  --font-headline-medium-thin-size: 32px;
  --font-headline-medium-thin-weight: 400;
  --font-headline-medium-thin-line-height: 39px;
  --font-headline-medium-thin-letter-spacing: 0px;

  --font-headline-medium-size: 32px;
  --font-headline-medium-weight: 500;
  --font-headline-medium-line-height: 39px;
  --font-headline-medium-letter-spacing: 0px;

  --font-headline-medium-semibold-size: 32px;
  --font-headline-medium-semibold-weight: 600;
  --font-headline-medium-semibold-line-height: 39px;
  --font-headline-medium-semibold-letter-spacing: 0px;

  --font-headline-medium-bold-size: 32px;
  --font-headline-medium-bold-weight: 700;
  --font-headline-medium-bold-line-height: 39px;
  --font-headline-medium-bold-letter-spacing: 0px;

  --font-headline-medium-extrabold-size: 32px;
  --font-headline-medium-extrabold-weight: 800;
  --font-headline-medium-extrabold-line-height: 39px;
  --font-headline-medium-extrabold-letter-spacing: 0px;

  --font-headline-medium-black-size: 32px;
  --font-headline-medium-black-weight: 900;
  --font-headline-medium-black-line-height: 39px;
  --font-headline-medium-black-letter-spacing: 0px;

  --font-headline-small-thin-size: 24px;
  --font-headline-small-thin-weight: 400;
  --font-headline-small-thin-line-height: 29px;
  --font-headline-small-thin-letter-spacing: 0px;

  --font-headline-small-medium-size: 24px;
  --font-headline-small-medium-weight: 500;
  --font-headline-small-medium-line-height: 29px;
  --font-headline-small-medium-letter-spacing: 0px;

  --font-headline-small-semibold-size: 24px;
  --font-headline-small-semibold-weight: 600;
  --font-headline-small-semibold-line-height: 29px;
  --font-headline-small-semibold-letter-spacing: 0px;

  --font-headline-small-bold-size: 24px;
  --font-headline-small-bold-weight: 700;
  --font-headline-small-bold-line-height: 29px;
  --font-headline-small-bold-letter-spacing: 0px;

  --font-headline-small-extrabold-size: 24px;
  --font-headline-small-extrabold-weight: 800;
  --font-headline-small-extrabold-line-height: 29px;
  --font-headline-small-extrabold-letter-spacing: 0px;

  --font-headline-small-black-size: 24px;
  --font-headline-small-black-weight: 900;
  --font-headline-small-black-line-height: 29px;
  --font-headline-small-black-letter-spacing: 0px;

  --font-headline-extrasmall-thin-size: 16px;
  --font-headline-extrasmall-thin-weight: 400;
  --font-headline-extrasmall-thin-line-height: 22px;
  --font-headline-extrasmall-thin-letter-spacing: 0px;

  --font-headline-extrasmall-medium-size: 16px;
  --font-headline-extrasmall-medium-weight: 500;
  --font-headline-extrasmall-medium-line-height: 22px;
  --font-headline-extrasmall-medium-letter-spacing: 0px;

  --font-headline-extrasmall-semibold-size: 16px;
  --font-headline-extrasmall-semibold-weight: 600;
  --font-headline-extrasmall-semibold-line-height: 22px;
  --font-headline-extrasmall-semibold-letter-spacing: 0px;

  --font-headline-extrasmall-bold-size: 16px;
  --font-headline-extrasmall-bold-weight: 700;
  --font-headline-extrasmall-bold-line-height: 22px;
  --font-headline-extrasmall-bold-letter-spacing: 0px;

  --font-headline-extrasmall-extrabold-size: 16px;
  --font-headline-extrasmall-extrabold-weight: 800;
  --font-headline-extrasmall-extrabold-line-height: 22px;
  --font-headline-extrasmall-extrabold-letter-spacing: 0px;

  --font-headline-extrasmall-black-size: 16px;
  --font-headline-extrasmall-black-weight: 900;
  --font-headline-extrasmall-black-line-height: 22px;
  --font-headline-extrasmall-black-letter-spacing: 0px;

  --font-content-medium-thin-size: 20px;
  --font-content-medium-thin-weight: 400;
  --font-content-medium-thin-line-height: 24px;
  --font-content-medium-thin-letter-spacing: 0px;

  --font-content-medium-size: 20px;
  --font-content-medium-weight: 500;
  --font-content-medium-line-height: 24px;
  --font-content-medium-letter-spacing: 0px;

  --font-content-medium-semibold-size: 20px;
  --font-content-medium-semibold-weight: 600;
  --font-content-medium-semibold-line-height: 24px;
  --font-content-medium-semibold-letter-spacing: 0px;

  --font-content-medium-bold-size: 20px;
  --font-content-medium-bold-weight: 700;
  --font-content-medium-bold-line-height: 24px;
  --font-content-medium-bold-letter-spacing: 0px;

  --font-content-medium-extrabold-size: 20px;
  --font-content-medium-extrabold-weight: 800;
  --font-content-medium-extrabold-line-height: 24px;
  --font-content-medium-extrabold-letter-spacing: 0px;

  --font-content-medium-black-size: 20px;
  --font-content-medium-black-weight: 900;
  --font-content-medium-black-line-height: 24px;
  --font-content-medium-black-letter-spacing: 0px;

  --font-content-small-thin-size: 18px;
  --font-content-small-thin-weight: 400;
  --font-content-small-thin-line-height: 25px;
  --font-content-small-thin-letter-spacing: 0px;

  --font-content-small-medium-size: 18px;
  --font-content-small-medium-weight: 500;
  --font-content-small-medium-line-height: 25px;
  --font-content-small-medium-letter-spacing: 0px;

  --font-content-small-semibold-size: 18px;
  --font-content-small-semibold-weight: 600;
  --font-content-small-semibold-line-height: 25px;
  --font-content-small-semibold-letter-spacing: 0px;

  --font-content-small-bold-size: 18px;
  --font-content-small-bold-weight: 700;
  --font-content-small-bold-line-height: 25px;
  --font-content-small-bold-letter-spacing: 0px;

  --font-content-small-extrabold-size: 18px;
  --font-content-small-extrabold-weight: 800;
  --font-content-small-extrabold-line-height: 25px;
  --font-content-small-extrabold-letter-spacing: 0px;

  --font-content-small-black-size: 18px;
  --font-content-small-black-weight: 900;
  --font-content-small-black-line-height: 25px;
  --font-content-small-black-letter-spacing: 0px;

  --font-content-micro-thin-size: 16px;
  --font-content-micro-thin-weight: 400;
  --font-content-micro-thin-line-height: 22px;
  --font-content-micro-thin-letter-spacing: 0px;

  --font-content-micro-medium-size: 16px;
  --font-content-micro-medium-weight: 500;
  --font-content-micro-medium-line-height: 22px;
  --font-content-micro-medium-letter-spacing: 0px;

  --font-content-micro-semibold-size: 16px;
  --font-content-micro-semibold-weight: 600;
  --font-content-micro-semibold-line-height: 22px;
  --font-content-micro-semibold-letter-spacing: 0px;

  --font-content-micro-bold-size: 16px;
  --font-content-micro-bold-weight: 700;
  --font-content-micro-bold-line-height: 22px;
  --font-content-micro-bold-letter-spacing: 0px;

  --font-content-micro-extrabold-size: 16px;
  --font-content-micro-extrabold-weight: 800;
  --font-content-micro-extrabold-line-height: 22px;
  --font-content-micro-extrabold-letter-spacing: 0px;

  --font-content-micro-black-size: 16px;
  --font-content-micro-black-weight: 900;
  --font-content-micro-black-line-height: 22px;
  --font-content-micro-black-letter-spacing: 0px;

  --font-content-macro-thin-size: 13px;
  --font-content-macro-thin-weight: 400;
  --font-content-macro-thin-line-height: 22px;
  --font-content-macro-thin-letter-spacing: 0px;

  --font-content-macro-medium-size: 13px;
  --font-content-macro-medium-weight: 500;
  --font-content-macro-medium-line-height: 22px;
  --font-content-macro-medium-letter-spacing: 0px;

  --font-content-macro-semibold-size: 13px;
  --font-content-macro-semibold-weight: 600;
  --font-content-macro-semibold-line-height: 22px;
  --font-content-macro-semibold-letter-spacing: 0px;

  --font-content-macro-bold-size: 13px;
  --font-content-macro-bold-weight: 700;
  --font-content-macro-bold-line-height: 22px;
  --font-content-macro-bold-letter-spacing: 0px;

  --font-content-macro-extrabold-size: 13px;
  --font-content-macro-extrabold-weight: 800;
  --font-content-macro-extrabold-line-height: 22px;
  --font-content-macro-extrabold-letter-spacing: 0px;

  --font-content-macro-black-size: 13px;
  --font-content-macro-black-weight: 900;
  --font-content-macro-black-line-height: 22px;
  --font-content-macro-black-letter-spacing: 0px;

  /* Break point */
  --breakpoint-*: initial;
  --breakpoint-large-desktop: 2400px;
  --breakpoint-desktop: 1920px;
  --breakpoint-extralarge-laptop: 1440px;
  --breakpoint-large-laptop: 1360px;
  --breakpoint-laptop: 1200px;
  --breakpoint-large-tablet: 1024px;
  --breakpoint-tablet: 991px;
  --breakpoint-large-mobile: 768px;
  --breakpoint-mobile: 640px;
  --breakpoint-extrasmall-mobile: 480px;
  --breakpoint-small-mobile: 370px;
}

@layer utilities {
  .headline-extralarge {
    font-size: var(--font-headline-extralarge-medium-size);
    font-weight: var(--font-headline-extralarge-medium-weight);
    line-height: var(--font-headline-extralarge-medium-line-height);
    letter-spacing: var(--font-headline-extralarge-medium-letter-spacing);
  }

  .headline-large {
    font-size: var(--font-headline-large-medium-size);
    font-weight: var(--font-headline-large-medium-weight);
    line-height: var(--font-headline-large-medium-line-height);
    letter-spacing: var(--font-headline-large-medium-letter-spacing);
  }

  .headline-large-bold {
    font-size: var(--font-headline-large-bold-size);
    font-weight: var(--font-headline-large-bold-weight);
    line-height: var(--font-headline-large-bold-line-height);
    letter-spacing: var(--font-headline-large-bold-letter-spacing);
  }

  .headline-medium {
    font-size: var(--font-headline-medium-size);
    font-weight: var(--font-headline-medium-weight);
    line-height: var(--font-headline-medium-line-height);
    letter-spacing: var(--font-headline-medium-letter-spacing);
  }

  .headline-semibold {
    font-size: var(--font-headline-medium-semibold-size);
    font-weight: var(--font-headline-medium-semibold-weight);
    line-height: var(--font-headline-medium-semibold-line-height);
    letter-spacing: var(--font-headline-medium-semibold-letter-spacing);
  }

  .headline-small {
    font-size: var(--font-headline-small-medium-size);
    font-weight: var(--font-headline-small-medium-weight);
    line-height: var(--font-headline-small-medium-line-height);
    letter-spacing: var(--font-headline-small-medium-letter-spacing);
  }

  .headline-small-semibold {
    font-size: var(--font-headline-small-semibold-size);
    font-weight: var(--font-headline-small-semibold-weight);
    line-height: var(--font-headline-small-semibold-line-height);
    letter-spacing: var(--font-headline-small-semibold-letter-spacing);
  }

  .headline-extrasmall-thin {
    font-size: var(--font-headline-extrasmall-thin-size);
    font-weight: var(--font-headline-extrasmall-thin-weight);
    line-height: var(--font-headline-extrasmall-thin-line-height);
    letter-spacing: var(--font-headline-extrasmall-thin-letter-spacing);
  }

  .headline-extrasmall {
    font-size: var(--font-headline-extrasmall-medium-size);
    font-weight: var(--font-headline-extrasmall-medium-weight);
    line-height: var(--font-headline-extrasmall-medium-line-height);
    letter-spacing: var(--font-headline-extrasmall-medium-letter-spacing);
  }

  .content-medium {
    font-size: var(--font-content-medium-size);
    font-weight: var(--font-content-medium-weight);
    line-height: var(--font-content-medium-line-height);
    letter-spacing: var(--font-content-medium-letter-spacing);
  }

  .content-small {
    font-size: var(--font-content-small-medium-size);
    font-weight: var(--font-content-small-medium-weight);
    line-height: var(--font-content-small-medium-line-height);
    letter-spacing: var(--font-content-small-medium-letter-spacing);
  }

  .content-small-thin {
    font-size: var(--font-content-small-medium-size);
    font-weight: var(--font-content-small-thin-weight);
    line-height: var(--font-content-small-medium-line-height);
    letter-spacing: var(--font-content-small-medium-letter-spacing);
  }

  .content-micro {
    font-size: var(--font-content-micro-medium-size);
    font-weight: var(--font-content-micro-medium-weight);
    line-height: var(--font-content-micro-medium-line-height);
    letter-spacing: var(--font-content-micro-medium-letter-spacing);
  }

  .content-macro {
    font-size: var(--font-content-macro-medium-size);
    font-weight: var(--font-content-macro-medium-weight);
    line-height: var(--font-content-macro-medium-line-height);
    letter-spacing: var(--font-content-macro-medium-letter-spacing);
  }

  .content-button {
    font-size: var(--font-content-macro-medium-size);
    font-weight: var(--font-content-macro-medium-weight);
    line-height: var(--font-content-macro-medium-line-height);
    letter-spacing: var(--font-content-macro-medium-letter-spacing);
    text-transform: uppercase;
  }

  .padding-global {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 1200px) {
    .headline-extralarge {
      font-size: 56px;
      line-height: 67px;
    }

    .padding-global {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    .headline-extralarge {
      font-size: var(--font-headline-large-thin-size);
      line-height: var(--font-headline-large-thin-line-height);
    }

    .headline-small {
      font-size: var(--font-content-small-thin-size);
    }

    .padding-global {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @media (max-width: 600px) {
    .padding-global {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .headline-extralarge {
      font-size: var(--font-headline-medium-bold-size);
    }
  }
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.max-container {
  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 1200px) {
  .max-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .max-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Button animation */
.flip-button {
  position: relative;
  overflow: hidden;
}

.flip-content-button {
  display: inline-block;
  animation: returnIn 0.2s ease forwards;
}

.flip-button:hover .flip-content-button {
  animation: moveOutIn 0.2s ease forwards;
}

@keyframes moveOutIn {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(120%);
    opacity: 0;
  }
  31% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes returnIn {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-120%);
    opacity: 0;
  }
  31% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Button icon animation */
.icon-button .icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-button:hover .icon {
  transform: rotate(45deg);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* --color-background: var(--background); */
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  /* Primary */
  --color-primary: #fff;
  --color-primary-light: #fff;
  --color-primary-foreground: #101010;
  --color-background-card-popular: #f7f4f4;

  /* Secondary */
  --color-secondary: #fe3d63;

  /* Button */
  --color-button-text: #101010;
  --color-button-color: #fe3d63;
  --color-button-hover: #bfbfbf;
  --color-button-icon: #101010;

  --color-card-popular-border: #bfbfbf;

  /* Background */
  --color-background: #fff;
  --color-background-foreground: #fff;
  --color-background-light: #b4b2b2;
  --color-background-dark: #d9d9d9;
  --color-background-our-project: #d9d9d9;
  --color-background-adverting: #b4b2b2;
  --color-background-footer: #000;
  --color-background-select-reason: #fff;

  /* Text */
  --color-text: #bfbfbf;
  --color-text-light: #bfbfbf;
  --color-text-adverting: #101010;
  --color-text-select: #fff;
  --color-text-banner: #fff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes tiltScaleText {
  0% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(-5deg) scale(1);
  }
}

@keyframes jackpotShakeScale {
  0% {
    transform: rotate(-10deg) scale(1);
  }
  15% {
    transform: rotate(10deg) scale(1.15);
  }
  30% {
    transform: rotate(-8deg) scale(1.1);
  }
  45% {
    transform: rotate(8deg) scale(1.05);
  }
  60% {
    transform: rotate(-6deg) scale(1.02);
  }
  75% {
    transform: rotate(6deg) scale(1);
  }
  90% {
    transform: rotate(-4deg) scale(0.98);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.animate-jackpot {
  animation: jackpotShakeScale 1.5s ease-in-out infinite;
}

.ic-mosquito svg {
  width: 24px;
  height: 24px;
}
